.about-div {
    position: absolute;
    top: 50px;
  }
  .about-name {
    padding-top: 20px;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
  }
  .about-para {
    font-size: 10px;
    padding: 10px;
    color: white;
    color: black;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
  }
  .about-image {
    height: 300px;
  }
  .about-topic {
    padding-top: 20px;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
  }
  .about-para1 {
    text-align: center;
    padding: 10px;
  }
  .about-pic {
    height: 300px;
    width: 400px;
    padding: 20px;
  }
  @media screen and (min-width: 780px) {
    .about-image {
      height: 500px;
    }
    .about-div {
      position: absolute;
      top: 100px;
    }
    .about-name {
      padding-top: 20px;
      color: black;
      text-align: center;
      font-weight: bolder;
      font-style: oblique;
      font-size: 3rem;
    }
    .about-topic {
      padding-top: 80px;
      color: rgb(11, 11, 94);
      text-align: center;
      font-weight: bolder;
      font-style: oblique;
      text-align: center;
    }
    .about-para {
      font-size: 20px;
      padding-top: 30px;
      padding-left: 60px;
      padding-right: 60px;
      color: black;
      font-weight: bolder;
      font-style: oblique;
      text-align: center;
    }
    .about-para1 {
      text-align: center;
      justify-content: center;
    }
  }
  